* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

button {
    background-color: rgba(0, 0, 255, 0.648);
    width: 100%;
    height: 60px;
    color: aliceblue;
    border: none;
    margin-top: -3px;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

button:hover {
    background-color: rgba(0, 0, 255, 0.249);
    cursor: pointer;
    text-decoration: underline;

}

@media screen and (max-width: 540px) {
    button {
        height: 45px;
    }
}